* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Bell MT;
}


.fill {
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: #e3f9ff;
    width: 100vw;
    height: 100vh;
}


.calculator {
    background-color: #3a455d;
    padding: 12px;
    border-radius: 10px;
    animation: scroll 6s ease-in-out forwards; 
}


@keyframes scroll {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(720deg);
        opacity: 1;
    }
    
}


.calculator form input{
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), -5px -5px 15px rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 14px;
}



form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}



form .display input {
    flex: 1;
    text-align: right;
    font-size: 31px;
    box-shadow: none;
}



form input.equal {
    width: 145px;
}



form input.operators {
    color: aquamarine;
}